[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
pymongo = "*"
pyjwt = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.10"
